@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=IBM+Plex+Mono:wght@400;500;600&family=Inter:wght@400;500&family=Josefin+Sans:wght@600&family=Josefin+Slab:ital,wght@1,500&family=Lekton:wght@700&family=Poppins:wght@400;500&family=Staatliches&family=Yeseva+One&display=swap');


*{
    margin:0;
    padding:0;
    
}

li{
    list-style: none;
}

.lap i,.mobile i{
    color: #ff9d59;
    padding: 0 5px;
}

.track-container{
    margin: 0;
    
}

section{            
    text-align: center;
    margin: 20px auto 30px;   
}

.track-title{
    font-family: 'Staatliches',serif;
    font-size: 30px;
    color: #ff9d59;
    font-weight: 500;
    text-align: center;
    margin: 21px 0px 16px;
}

.track{
    color: #ff7c7c
}

/* ---------------------------------------------------------------------------- */
/* mobile */
.mobile{
    display: none;
    font-family: 'Inter', sans-serif;
}

.mobile-track-content{
    text-align: justify;
    max-height:0;
    overflow: hidden;
    transition: max-height 1s ease;
} 

#mobile-tracks-section{
    width: 50%;    
}

.mobile-track{
    max-width: 500px;
    margin-top: 32px;
    padding-bottom: 16px;
    border-bottom: 1px solid #bdbdbd;
    cursor: pointer;
}

.mobile-track-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.mobile-track-title h3,.lap-track-content h3{
    color: #500150;
    font-size: 18px;
    text-align: left;
}

.mobile-track-content ul{    
    padding-top: 16px;
    line-height: 25px;    
}

.mobile-track-content li{
    padding: 2px 0;
    text-align: left;
}

.mobile-track.active .mobile-track-content{
    max-height: 800px;
    animation: fade 1s ease-in-out;
}

.mobile-track.active svg{
    transform: rotate(180deg);
}

svg{
    transition: transform 0.5s ease-in;
}

/* -------------------------------------------------------------------------- */


#button-div{
    align-items: center;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-around;
    /* position: sticky; */
    margin: auto;
    width: 50%;
     top: 80px;
}

#button-div button{
    
    padding: 5px;
    width: 280px;
    font-size: 17px;
    /* margin: 20px 0 20px 0; */
    font-family: 'Poppins',sans-serif;
    
    font-weight: 600;
     box-shadow:none; 
    display: block;
    border: 1px solid #e0e0e0;
    cursor: pointer;
}



/* .btn{   
    margin: 40px 0;
    width: 50px;
    height:50px;
    color: black;
    background-color: #fff;
    border-radius: 5px;
    border:none;
}

.btn.active{
    background-color: #999;
}

.btn:hover{
    color: red;
    cursor: pointer;
} */

.b-active{
    background: #450051;
    color: #ff8f9f;
}

.lap{
    background-color: #fafafa;
    color: #000;
    padding: 20px;
    width: 50%;
    font-family: 'Inter', sans-serif;
}

.lap-track-content{
    line-height: 22px;
    display: none;
}

.lap-track-content h3{
    padding: 10px 0;
}

.lap-track-content ul{
    list-style-type: circle;
    text-align: justify;
}
.lap-track-content.active{
    display: block;
    animation: fade 0.5s ease-in-out;
}

@keyframes fade{
    from{
        opacity: 0;
        transform: translateY(-10px);
    }
    to{
        opacity:1;
        transform:translateY(0px);
    }
}

@media only screen and (max-width:800px) {
    .title{
        font-size: 32px;
        margin:16px 0px;
    }
    .lap{
        display: none;
    }
    .mobile{
        display: block;
    }
    .mobile-track{
        min-width: 90%;
        align-items: flex-start;
    }
    #mobile-tracks-section{
        width: 90%;
    }
    #button-section{
        display: none;
    }
}